<form method="put" action="" id="edit_comment" class="edit_comment" data-remote="true">
	<input type="hidden" id="edit_form_comment_id" name="comment_id" value="" />
	<div class="field">
		<textarea id="edit_form_comment_text" name="comment_text" class="htmlEditor" style="width: 470px; height: 100px;"></textarea>
	</div>
  	<br/>
	<div class="actions">
    	<input type="submit" value="Edit comment" />
  	</div>
</form>