<form name="add_share_by_link" id="add_share_by_link" action="/shares/add-by-link" method="post" data-remote="true">
	<div class="formfield">
		<label class="input">
			<span>What's on your mind?</span>
			<textarea id="summary" name="summary"> </textarea>
		</label>
	</div>
	<label>URL (optional):</label>
	<input type="url" name="url" id="url" />
	<br/><br/>
	<input type="submit" value="Submit" name="submit" />
</form>