<div id="footer">
	<div id="footerBar">
		<div class="footerItem">
			<h3>Quick links</h3>
			<ul>
				<li>
					<a href="/about">About amplifize</a>
				</li>
			</ul>
		</div>
		<div class="footerItem">
			<h3>Get connected</h3>
			<ul>
				<li>
					<a href="http://twitter.com/amplifize">On Twitter</a>
				</li>
			</ul>
		</div>
		<div class="footerItem">
			<h3>Legal</h3>
			<ul>
				<li>
					<a href="/terms">Terms &amp; Conditions</a>
				</li>
				<li>
					<a href="/privacy">Privacy Policy</a>
				</li>
			</ul>
		</div>
		<div class="footerItemBig">
			<%= image_tag 'shared/inverse-logo.gif' %>
			<br/>
			<span class="copyright">Big Fish, Big Pond, Inc &copy; 2012 &mdash; 2015</span>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>

<% if show_support_widget %>
<script type="text/javascript">
	//google analytics
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-33864290-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
<% end %>